@import "base.scss";

.loading{
	@include f;
	z-index:9999;
	background-color:rgba(255,255,255,0.8);
	&.on{
		background-color:rgba(255,255,255,0.8);
	}
	span{
		@include a(200px,50px,50%,50%,-100px,-25px);
		@include font(21px,50px,#000);
		text-align: center;
	}
}

.wrapper{
	@include r;
	.wrapperin{
		position:relative;
		width:98%;		
		// max-width: 1360px;
		margin:auto;
	}
}
.menu{
	@include f(100%,auto);
	text-align: center;
	background-color: #51711b;
	z-index: 999;
	.menuin{
		@include r;
		z-index: 0;
		.logo{
			display: inline-block;
			vertical-align: top;
			margin: 13px 15px;
			img{
				vertical-align: top;				
			}
		}
		a{
			@include font(18px,50px,#fff);
			position: relative;
			width: auto;
			height: 50px;
			display: inline-block;
			margin: 0 15px;
			vertical-align: top;
			&:hover,&.on{
				color:#f8e88e;
			}
		}
	}
	.userMenu{
		@include a(auto,auto,auto,10px);
		right: 25px;
		z-index: 9;
		.icon{
			@include r(30px,30px);
			@include border-radius(15px);
			@include font(21px,30px,#FFF,normal,'Arial');
			margin-right: 5px;
			text-align: center;
			text-transform:uppercase;
			background-color: rgba(255,255,255,0.2);
		}
		.name{
			@include r(auto,30px);
			@include font(15px,30px,#fff);
			margin-right: 20px;
		}
		.logoutbtn{
			@include r(auto,30px);
			@include font(15px,30px,#fff);
			cursor: pointer;
			&:hover{color:#f8e88e;}
		}
	}
	
}

.login_page{
	@include f;
	z-index:998;
	background-color:#eee;	
	.login_pagein{
		@include a(400px,250px,50%,50%,-200px,-155px);
		@include border-radius(25px);
		transition:0.5s;		
		background-color:#FFF;
		box-shadow:3px 3px 5px #ccc;		
		&.on{
			height: 400px;
			margin-top: -230px;
			.login_pagein_allin{
				@include transform(translateX(-100%));
			}
		}
		.login_pagein_t{
			@include a(100%,auto,0,-60px);
			@include font(28px,40px,#333,bolder);			
			text-align:center;
			z-index:1;			
		}
		.login_pagein_all{
			@include a;
			overflow: hidden;
			.login_pagein_allin{
				@include a;
				transition:0.5s;							
			}			
			ul{
				@include a;
				box-sizing:border-box;
				padding:30px;
				li{
					@include r;					
					margin-bottom:25px;
					text-align:center;
					&:last-child{
						margin-bottom: 0;
					}
					input{
						@include r(100%,50px);
						@include font(15px,30px,#000);
						@include border-radius(5px);
						box-sizing:border-box;
						border:1px solid #ccc;						
						padding:10px;						
						background-color:#FFF;
					}
					a{
						@include font(15px,20px,#fff);
						width:100px;
						height:40px;
						display:inline-block;
						vertical-align:top;
						box-sizing:border-box;
						border:1px solid #ccc;
						padding:10px;						
						text-align:center;
						background-color:#57a7d3;
						margin-right:25px;
						&:hover{
							opacity:0.8;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}		
			.login_page_sign{
				left: 100%;
			}
		}
		.msg{
			@include a(100%,30px,0,auto);
			@include font(15px,30px,#666);
			text-align: center;
			bottom: -50px;
			display: none;
			.icon{
				width: 20px;
				height: 20px;
				margin-left: 5px;
				margin-top: 3px;
				background: url(../images/status_ok2.png) no-repeat;
				background-position: center;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}
.sec_menu{
	@include f(100%,auto,0,50px);
	text-align: center;
	background-color: rgba(81,113,27,0.5);	
	z-index: 999;
	a{
		@include font(18px,50px,#fff);
		position: relative;
		width: auto;
		height: 50px;
		display: inline-block;
		margin: 0 15px;
		vertical-align: top;
		&:hover,&.on{
			color:#f8e88e;
		}
	}
}
.wrapper_main{
	@include r;	
	.title{
		@include r;
		@include font(60px,72px,#000);
		text-align:center;		
		margin-top:130px;
		margin-bottom: 30px;
		&.notop{margin-top: 0;}
		span{
			@include a(auto,auto,auto,auto);
			@include font(15px,25px,#666);
			right: 0;
			bottom: 0;
		}
	}
	.addgame{
		@include r;
		box-sizing:border-box;
		padding:10px;
		background-color:#e8e8e8;
		margin-bottom: 15px;
		.databox{
			@include r(83%);
			margin-right: 1%;
			.posttitle{
				@include r(100%);
				@include font(15px,27px,#000);
				background-color:#FFF;
				box-sizing:border-box;
				padding:5px;		
			}
		}
		.gogamebtn{
			@include r(16%);
			@include font(15px,27px,#fff);		
			background-color:#999;
			text-align:center;
			cursor: pointer;
		}
	}
	.gameboxout{
		@include r;
		.gamebox{
			@include r;
		}
	}
	.new{
		@include r;
		margin-bottom:30px;
		box-sizing:border-box;
		padding:10px;
		background-color:#e8e8e8;
		&.awardspapertitle{
			margin-bottom: 15px;
		}
		.databox{
			@include r(84%);
			.lt{
				@include r(49%);
				margin-right: 2%;
				&.newsdatabox{
					margin-right: 0%;
					margin-left: 2%;
				}
				.ltlt{
					@include r(49%);
					margin-right: 2%;
				}
				input,textarea{
					@include r(100%);
					@include font(15px,27px,#000);
					background-color:#FFF;					
					margin-bottom: 2%;
					box-sizing:border-box;
					padding:5px;					
					&.newsbword{
						@include r(49%);
						margin-right: 0;
						min-height: 111px;
					}
				}
				textarea{margin-bottom: 0;}

			}
			.rt{
				@include r(47%);
				min-height: 111px;
				.rt1{
					@include r(49%);
					margin-right: 2%;
					min-height: 111px;
					&.on{
						.imgInputlabel{
							opacity: 0;
						}
						img{
							opacity: 1;
						}
					}
				}
				.rt2{
					@include r(49%);
					min-height: 111px;
					&.on{
						.imgInputlabel{
							opacity: 0;
						}
						img{
							opacity: 1;
						}
					}
				}
				input{display: none;}				
				.imgInputlabel{
					@include a;
					z-index: 1;
					cursor: pointer;
					background-color: #FFF;
					opacity: 1;
					span{
						@include a(100%,26px,0,50%,0,-13px);
						@include font(13px,26px,#333);
						text-align: center;
					}
				}
				&.on{
					.imgInputlabel{
						opacity: 0;
					}
					img{
						opacity: 1;
					}
				}
				img{
					max-width: 100%;
					display: inline-block;
					opacity: 0;
					transition:0.3s;
					z-index: 0;					
				}
			}
		}		
		.gobtn,.maingobtn{
			@include r(16%);
			@include font(15px,27px,#fff);		
			background-color:#999;
			text-align:center;
			cursor: pointer;
		}
	}
	.t{
		@include r;		
		background-color:#999;
		box-sizing:border-box;
		padding:10px;
		color:#FFF;
		&.awardspapertitle{
			background-color: #ea483e;
			.posttitle{
				@include r(90%);
				text-align: center;
			}
			.btn{
				@include r(10%,100%);
			}
		}
		.contact_name,.contact_phone,.contact_email{
			@include r(15%);
			text-align:center;
		}
		.contact_des{
			@include r(45%);
			text-align:left;
			box-sizing:border-box;
			padding: 0 10px;
		}
		.postid{
			@include r(10%);
			text-align:center;
		}
		.postphoto{
			@include r(10%);
			text-align: center;
		}
		.posttitle,.postdes{
			@include r(35%);		
			text-align:center;
		}
		.btn{
			@include r(10%);
			text-align:center;
		}
		.newsbpic,.newstitle,.newsbword,.newsspic,.newssword{@include r(18%);text-align: center;}

	}
	.paper_addr{
		@include r;
		padding-bottom: 50px;
		li{
			@include r;
			@include font(12px,24px,#000);		
			box-sizing:border-box;
			padding:15px 10px;
			background-color:#FFF;			
			word-break:break-all;
			&:nth-child(2n){
				background-color:#eee;
			}
			textarea{
				@include r(90%);
				margin-left: 5%;
				min-height: 50px;
			}
			img{
				width: 90%;
				vertical-align: top;
				display: inline-block;
				margin: 0 5%;
				z-index: 0;
			}
			.posttitle{
				@include r(35%);		
				text-align:center;
			}
			.btn{
				@include r(10%);			
				text-align:center;
				.motify{
					width:24px;
					height:24px;
					display:inline-block;
					margin-right:10px;
					background:url(../images/icon-edit.png) no-repeat;
					background-position:left;
					cursor:pointer;
					vertical-align:top;
					&.on{
						background:url(../images/status_ok.png) no-repeat;
						background-position:center;
						background-size:contain;
					}
				}
				.delbtn{
					width:24px;
					height:24px;
					display:inline-block;
					margin-right:10px;
					background:url(../images/icon-delete.png) no-repeat;
					background-position:left;
					cursor:pointer;
					vertical-align:top;
				}
			}
		}
	}
	.paper_mail{
		@include r;
		padding-bottom: 50px;
		li{
			@include r;
			@include font(12px,24px,#000);		
			box-sizing:border-box;
			padding:15px 10px;
			background-color:#FFF;			
			word-break:break-all;
			&:nth-child(2n){
				background-color:#eee;
			}
			textarea{
				@include r(90%);
				margin-left: 5%;
				min-height: 150px;
			}
			img{
				width: 90%;
				vertical-align: top;
				display: inline-block;
				margin: 0 5%;
				z-index: 0;
			}
			.contact_name,.contact_phone,.contact_email{
				@include r(15%);
				text-align:center;
			}
			.contact_des{
				@include r(35%);
				text-align:left;
				box-sizing:border-box;
				padding: 0 10px;
			}
			.contact_date{
				@include r(10%);
				text-align:center;
			}
			.btn{
				@include r(10%);			
				text-align:center;
				.motify{
					width:24px;
					height:24px;
					display:inline-block;
					margin-right:10px;
					background:url(../images/icon-edit.png) no-repeat;
					background-position:left;
					cursor:pointer;
					vertical-align:top;
					&.on{
						background:url(../images/status_ok.png) no-repeat;
						background-position:center;
						background-size:contain;
					}
				}
				.delbtn{
					width:24px;
					height:24px;
					display:inline-block;
					margin-right:10px;
					background:url(../images/icon-delete.png) no-repeat;
					background-position:left;
					cursor:pointer;
					vertical-align:top;
				}
			}
		}
	}
	.paper{
		@include r;	
		padding-bottom: 50px;
		&.awardspapertitle{
			padding-bottom: 0;
			li{
				.posttitle{
					@include r(90%);
					@include font(32px,32px,#000);
					text-align: center;
				}
				.btn{
					@include r(10%,100%);
				}
				textarea{
					@include font(32px,32px,#000);
					box-sizing:border-box;
					padding: 10px;
					min-height: 70px;
					text-align: center;
				}
			}
		}
		li{
			@include r;
			@include font(12px,24px,#000);		
			box-sizing:border-box;
			padding:15px 10px;
			background-color:#FFF;			
			word-break:break-all;
			&:nth-child(2n){
				background-color:#eee;
			}
			textarea{
				@include r(90%);
				margin-left: 5%;
				min-height: 150px;
			}
			#imgInputMotify{display: none;}
			#imgInputMotify2{display: none;}
			.imgInputlabel{
				@include a;
				z-index: 1;
				cursor: pointer;
				opacity: 1;
				background-color: rgba(255,255,255,0.5);
				span{
					@include a(100%,26px,0,50%,0,-13px);
					@include font(13px,26px,#333);
					text-align: center;
				}
			}
			img{
				width: 90%;
				vertical-align: top;
				display: inline-block;
				margin: 0 5%;
				z-index: 0;
			}			
			.postid{
				@include r(10%);
				text-align:center;
			}
			.postphoto{
				@include r(10%);
				
			}
			.posttitle,.postdes{
				@include r(35%);			
				text-align:center;
			}
			.btn{
				@include r(10%);			
				text-align:center;
				.motify{
					width:24px;
					height:24px;
					display:inline-block;
					margin-right:10px;
					background:url(../images/icon-edit.png) no-repeat;
					background-position:left;
					cursor:pointer;
					vertical-align:top;
					&.on{
						background:url(../images/status_ok.png) no-repeat;
						background-position:center;
						background-size:contain;
					}
				}
				.delbtn{
					width:24px;
					height:24px;
					display:inline-block;
					margin-right:10px;
					background:url(../images/icon-delete.png) no-repeat;
					background-position:left;
					cursor:pointer;
					vertical-align:top;
				}
			}
			.newsbpic,.newstitle,.newsbword,.newsspic,.newssword{@include r(18%);text-align: center;}			
		}
	}	
}
@media screen and (max-width: 1200px) {
	.userMenu{
		.name{display: none;}
		.icon{display: none;}
	}
}

