@import "base.scss";

.loading{
	@include flt;
	z-index:9999;
	background-color:rgba(0,0,0,0.8);
	&.on{
		background-color:rgba(0,0,0,0.8);
	}
	span{
		@include alt(200px,50px,50%,50%,-100px,-25px);
		@include font(21px,50px,#fff);
		text-align: center;
	}
}
.menulist{
	@include alt(230px,100%);
	background-color: #1e1e1e;
	z-index: 10;
	.logo{
		@include alt(100%,145px);
		background: url(../images/logo.png) no-repeat;
		background-position: center 45px;
		//test
		// opacity: 0;
	}
	.t{
		@include alt(100%,18px,0,145px);
		@include font(18px,18px,#ffffff);
		box-sizing:border-box;
		padding: 0 15px;
		text-align: center;
		z-index: 9;
		//test
		// opacity: 0;
	}
	.logoutbtn{
		@include alt(100%,18px,0,180px);
		@include font(18px,18px,#87bace);
		box-sizing:border-box;
		padding: 0 30px;
		text-align: center;
		z-index: 9;
		cursor:pointer;
		&:hover{
			color: #fff;
		}
	}
	.menu{
		@include r(100%,100%);
		box-sizing:border-box;
		padding-top: 220px;
		overflow: hidden;
		ul{
			@include r;
			box-sizing:border-box;
			padding-left: 25px;
			.menua{
				@include r;
				@include font(16px,16px,#fff,bolder);
				margin-bottom: 20px;
				box-sizing:border-box;
				padding-left: 20px;
				&:before{
					content:"";
					@include alt(20px,12px);
					background: url(../images/list_icon.png) no-repeat;
					background-position: center -9px;
				}
				&.on{
					color: #87bace;
				}
				&:hover{
					color: #87bace;
				}
				&.memberBtn{
					// display: none;
				}
			}
			li{
				@include r(100%,16px);
				margin-bottom: 10px;
				transition:0.5s;
				overflow: hidden;
				&.on{
					span{
						&:before{
							@include alt(20px,9px,0,3px);
							background-position: center 0;
						}
					}
				}
				span{
					@include r;
					@include font(16px,16px,#87bace,bolder);
					box-sizing:border-box;
					padding-left: 20px;
					cursor: pointer;
					margin-bottom: 10px;
					&:before{
						content:"";
						@include alt(20px,12px);
						background: url(../images/list_icon.png) no-repeat;
						background-position: center -9px;
					}
				}
				.box{
					@include r;
					box-sizing:border-box;
					padding-left: 20px;
					padding-bottom: 30px;
					a{
						@include r;
						@include font(15px,24px,#ffffff);
						&.on,&:hover{
							color: #87bace;
						}
					}
				}
			}
		}
	}
}
.wrapper{
	@include r;
	min-height: 100%;
	&.login{
		background-color: #000000;
		.main{
			@include alt(400px,357px,50%,50%,-200px,-250px);
			background: url(../images/logo.png) no-repeat;
			background-position: center top;
			.t{
				@include r;
				@include font(28px,28px,#ffffff);
				margin-top: 84px;
				text-align: center;
			}
			.box{
				@include alb(100%,223px);
				@include border-radius(10px);
				background-color: #1e1e1e;
				box-sizing:border-box;
				padding: 30px;
				.user_id{
					@include r(100%,47px);
					@include font(15px,47px,#ffffff);
					@include border-radius(5px);
					text-align: center;
					margin-bottom: 15px;
					background-color: rgba(255,255,255,0.13);
				}
				.password{
					@include r(100%,47px);
					@include font(15px,47px,#ffffff);
					@include border-radius(5px);
					text-align: center;
					margin-bottom: 15px;
					background-color: rgba(255,255,255,0.13);
				}
				.code{
					@include r(100%,47px);
					.user_code{
						@include r(60%,100%);
						@include font(15px,47px,#ffffff);
						@include border-radius(5px);
						text-align: center;
						background-color: rgba(255,255,255,0.13);
					}
					.pic{
						@include r(35%,100%);
						margin-left: 5%;
						img{
							width: 100%;
						}
					}
					
				}
				.submit{
					@include alb(155px,37px,50%,25px,-77px);
					@include font(15px,37px,#ffffff);
					text-align: center;
					cursor: pointer;
					background-color: #d30200;
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
	}
	&.main,&.cars,&.press{
		min-width: 1200px;
		background-color: #efefef;
	}
	.content{
		@include r;
		box-sizing:border-box;
		padding-left: 255px;
		padding-right: 25px;
		padding-bottom: 100px;
		z-index: 9;
		text-align: center;
		.title{
			@include r;
			@include font(26px,26px,#000000,bolder);
			margin-top: 45px;
			margin-bottom: 18px;
			text-align: center;
		}
		.deleteBrands{
			@include r;
			text-align: center;
			a{
				@include font(14px,14px,#fff);
				background-color: #666;
				padding: 5px 10px;
				display: inline-block;
				&:hover{
					background-color: red;
				}
			}
		}
		.searchbox{
			position: relative;
			display: inline-block;
			max-width: 100%;
			box-sizing:border-box;
			padding: 10px;
			background-color: #1e1e1e;
			.lt{
				@include r;
				box-sizing:border-box;
				padding-right: 88px;
				min-height: 30px;
				.box{
					@include r(100%,30px);
					margin-right: 1%;
					box-sizing:border-box;
					padding-left: 70px;
					span{
						@include alt(60px,100%);
						@include font(15px,30px,#ffffff);
					}
					input{
						@include r(100%,30px);
						@include font(15px,30px,#000);
						background-color: #fff;
						box-sizing:border-box;
						padding: 3px;
					}
				}
			}
			.rt{
				@include art(88px,100%,0,10px);
				z-index: 9;
				.bt{
					@include r(80px,30px);
					@include font(15px,30px,#fff);
					text-align: center;
					margin-right: 8px;
					background-color: #666666;
					cursor: pointer;
					a{
						@include r;
						@include font(15px,30px,#fff);
					}
					&:hover{
						opacity: 0.8;
					}
					&:nth-child(2n){margin-right: 0;}
				}
			}
		}
		.addbox{
			@include r;
			box-sizing:border-box;
			padding: 10px;
			margin-top: 20px;
			background-color: #1e1e1e;
			&.press{
				.lt .box input{
					@include alt(24%,30px,78px);
					&:nth-child(3n){
						top:35px;
					}
				}
				.lt .box textarea{
					width:70%;
					height:65px;
					margin-left:28%;
				}	
			}
			.lt{
				@include r;
				box-sizing:border-box;
				padding-right: 78px;
				min-height: 30px;
				.box{
					@include r;
					box-sizing:border-box;
					padding-left: 70px;
					span{
						@include alt(60px,100%);
						@include font(15px,30px,#ffffff);
					}
					input{
						@include r(24%,30px);
						@include font(15px,30px,#000);
						background-color: #fff;
						box-sizing:border-box;
						padding: 3px;
						margin-right: 1%;
						margin-bottom: 1%;
						&.indexImgInput{
							font-size: 12px;
							line-height: 23px;
						}
					}
					textarea{
						@include r(49%);
						@include font(15px,30px,#000);
						background-color: #fff;
						box-sizing:border-box;
						padding: 3px;
						margin-right: 1%;
					}
				}
			}
			.rt{
				@include art(88px,100%,0,10px);
				z-index: 9;
				height: calc(100% - 20px);
				.bt{
					@include r(80px,30px);
					@include font(15px,30px,#fff);
					text-align: center;
					margin-right: 8px;
					background-color: #666666;
					cursor: pointer;
					a{
						@include r;
						@include font(15px,30px,#fff);
					}
					&:hover{
						opacity: 0.8;
					}
					&:nth-child(2n){margin-right: 0;}
				}
			}
		}
		.list{
			@include r;
			box-sizing:border-box;
			border:1px solid #1e1e1e;
			text-align: left;
			margin-top: 5px;
			&.column-9{
				.t{
					.column{
						@include r(11%,100%);
					}
				}
				ul{
					li{
						.column{
							@include r(11%,100%);
						}
					}
				}
			}
			&.column-6{
				.t{
					.column{
						@include r(16.6%,100%);
					}
				}
				ul{
					li{
						.column{
							@include r(16.6%,100%);
						}
					}
				}
				&.user{
					.t{
						.column{
							@include r(25%,100%);
						}
					}
					ul{
						li{
							.column{
								@include r(25%,100%);
							}
						}
					}
				}
				&.contact{
					.t{
						.column{
							@include r(12%,100%);
							&:nth-child(7){
								width: 40%;
							}
						}
					}
					ul{
						li{
							.column{
								@include r(12%,100%);
								&:nth-child(7){
									width: 40%;
								}
							}
						}
					}
				}
			}
			&.column-3{
				.t{
					.column{
						@include r(20%,100%);
						&:nth-child(4n){
							width:60%;
						}
					}
				}
				ul{
					li{
						.column{
							@include r(20%,100%);
							&:nth-child(4n){
								width:60%;
							}
						}
					}
				}
			}
			.t{
				@include alt(100%,35px);
				background-color: #1e1e1e;
				box-sizing:border-box;
				padding-left: 35px;
				padding-right: 150px;
				z-index: 9;
				&.ontop{
					position: fixed;
					width: calc(100% - 280px);
					left: 255px;
				}
				.slbox{
					@include alt(35px,100%);
					@include font(13px,35px,#ffffff);
					text-align: center;
					box-sizing:border-box;
					border-right: 1px solid #FFF;
					input{
						@include alt(15px,15px,50%,50%,-7px,-7px);
						background-color: #FFF;
					}
				}
				.column{
					@include r(11%,100%);
					@include font(13px,35px,#ffffff);
					text-align: center;
				}
				.function{
					@include art(150px,100%);
					@include font(13px,35px,#ffffff);
					text-align: center;
					z-index: 1;
				}
			}
			ul{
				@include r;
				margin-top: 35px;
				&.main{
					li img{
						max-width: 100%;
						height: auto;
					}
				}
				li{
					@include r;
					box-sizing:border-box;
					padding-left: 35px;
					padding-right: 150px;
					background-color: #e5e5e5;
					padding-top: 10px;
					border-bottom: 5px solid #333;
					&:nth-child(2n){
						background-color: #efefef;
					}
					&:last-child{
						border-bottom: 0;
					}
					.mainData{
						@include r(100%,100px);
						padding-left: 35px;
						padding-right: 150px;
						margin-left: -35px;
						overflow: hidden;
					}
					.secData{
						@include r(calc(100% + 150px));
						padding-bottom: 25px;
						padding-top: 25px;
						margin-left: -1px;
						border-left: 1px solid #fff;
						.st{
							@include r;
							@include font(14px,18px,#333);
							text-align: center;
							background-color: #d6d6d6;
							padding: 5px 0;
						}
						.eqi{
							@include r(35%);
							.addEqiBox{
								@include r(100%,35px);
								width: calc(100% - 10px);
								padding: 5px 135px 5px 5px;
								box-sizing: border-box;
								background-color: #666;
								margin-top: 10px;
								margin-bottom: 5px;
								margin-left: 10px;
								input{
									@include r(100%,100%);
									z-index: 0;
									box-sizing: border-box;
									padding: 5px;
									background-color: #fff;
								}
								.submit{
									@include art(120px,25px,5px,5px);
									@include font(12px,25px,#ffffff);
									text-align: center;
									background-color: #000;
									cursor:pointer;
									z-index: 1;
									&:hover{
										opacity: 0.8;
									}
								}
							}
							.eqDataBox{
								@include r;
							}
							.equData{
								@include r;
								margin-bottom: 5px;
								border-bottom: 1px solid #fff;
								padding: 5px 0;
								span{
									@include r;
									@include font(12px,21px,#000);
									box-sizing: border-box;
									padding-right: 40px;
									z-index: 0;
									padding-left: 10px;
								}
								.btn{
									@include art(30px,100%,0,5px);
									z-index: 1;
									a{
										@include r(30px);
										@include font(12px,21px,#fff);
										background-color: #666666;
										text-align: center;
										margin-right: 10px;
										&:last-child{
											margin-right: 0;
										}
										&:hover{
											color: #87bace;
										}
									}
								}
							}
						}
						.recommend{
							@include r(15%);
							text-align: center;
							span{
								@include font(12px,18px,#000);								
								position: relative;
								width: auto;
								display: inline-block;
								box-sizing: border-box;
								margin-right: 10px;
								text-align: center;
								margin-top: 5px;
							}
							.change{
								@include font(12px,21px,#fff);
								position: relative;
								width: 30px;
								display: inline-block;
								background-color: #666666;
								text-align: center;
								cursor: pointer;
								margin-top: 5px;
								&:hover{
									color: #87bace;
								}
							}
						}
						.carsImg,.pressImg{
							@include r(50%);
							.addImgBox{
								@include r(100%,35px);
								width: calc(100% - 10px);
								padding: 5px 135px 5px 5px;
								box-sizing: border-box;
								background-color: #666;
								margin-top: 10px;
								margin-bottom: 5px;
								input{
									@include r(100%,100%);
									z-index: 0;
									background-color: #fff;
								}
								.submit{
									@include art(120px,25px,5px,5px);
									@include font(12px,25px,#ffffff);
									text-align: center;
									background-color: #000;
									cursor:pointer;
									z-index: 1;
									&:hover{
										opacity: 0.8;
									}
								}
							}
							.photoDataBox{
								@include r;
							}
							.photoData{
								@include r(19%);
								margin-bottom: 5px;
								padding: 5px 0;
								margin-right: 1%;
								.photo{
									@include r;
									min-height: 30px;
									img{
										width: 100%;
										height: auto;
									}
								}
								.btn{
									@include alt;
									z-index: 1;
									a{
										@include alt;
										opacity: 0;
										&:before{
											@include am(auto,auto);
											@include font(12px,21px,#fff);
											@include border-radius(5px);
											background-color:rgba(210,2,0,0.8);
											text-align: center;
											padding: 5px 10px;
											content:"刪除";
										}
										&:hover{
											opacity: 1;
										}
									}
								}
							}
						}
						.pressImg{
							width:85%;
						}
					}
					textarea{
						@include alt;
						width: calc(100% - 5px);
						box-sizing: border-box;
						padding: 5px;
						background-color: #fff;
					}
					input{
						@include r(100%,25px);
						@include font(12px,25px,#000);
						width: calc(100% - 5px);
						box-sizing: border-box;
						padding: 0 5px;
						background-color: #fff;
					}
					.slbox{
						@include alt(35px,100%);
						@include font(12px,18px,#1e1e1e);
						box-sizing:border-box;
						text-align: center;
						border-right: 1px solid #FFF;
						box-sizing:border-box;
						padding: 10px;
						input{
							@include alt(15px,15px,50%,50%,-7px,-7px);
							background-color: #FFF;
						}
					}
					.column{
						@include r(11%,100%);
						@include font(12px,18px,#1e1e1e);
						text-align: center;
						box-sizing:border-box;
						padding: 10px;
					}
					.photo.main{
						input{
							display: none;
						}
						label{
							@include alt;
							z-index: 1;
							background-color: rgba(0,0,0,0.8);
							cursor: pointer;
							span{
								@include am(auto,auto);
								@include font(12px,12px,#fff);
							}
						}

					}
					.textColor{
						text-align: center;
						span{
							display: inline-block;
							line-height: 30px;
						}
						.change{
							width: 30px;
							@include font(12px,21px,#fff);
							background-color: #666666;
							text-align: center;
							cursor: pointer;
							margin-top: 5px;
							margin-left: 5px;
							display: inline-block;
							&:hover{
								color: #87bace;
							}
						}
					}
					.function{
						@include art(150px,100%);
						@include font(13px,35px,#ffffff);
						text-align: center;
						z-index: 1;
						a{
							position: relative;
							width: 60px;
							height: 25px;
							@include font(12px,25px,#ffffff);
							text-align: center;
							background-color: #666666;
							display: inline-block;
							margin-right: 8px;
							&:hover{
								opacity: 0.8;
							}
							&:nth-child(2n){
								margin-right: 0;
							}
							&.motify{
								&:before{
									@include alt;
									content:"修改";
								}
								&.on{
									&:before{
										content:"確定";
										background-color: seagreen;
									}
								}
							}
							&.delete{
								&:before{
									@include alt;
									content:"整筆刪除";
								}
								&:hover{
									opacity: 1;
									background-color: red;
								}
							}
						}
					}
				}
			}
		}
	}
}